html {
    width: 98%;
    margin: auto;
    padding: .2rem;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    color: #111;
}

section {
    margin-bottom: .2rem;
    border-bottom: 1.5px solid #00000057;
}

h3 {
    margin: 0;
    margin-top: 0;
}

.hdr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.namepn {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.pronouns {
    margin-top: 0;
    font-style: italic;
}

.section-title {
    font-size: 20px;
    margin-bottom: 0;
    margin: 0;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-left: 1rem;
    padding: .3rem;
}

.skillgroup {
    margin: 0;
    width: 100%;
}

.skillgroup_ttl {
    text-decoration: underline;
    margin-bottom: 0;
}

.role {
    margin-left: 1.5rem;
}

.highlights {
    margin-top: 0.25rem;   /* reduces vertical gap */
    margin-bottom: 0.5rem;
    padding-left: 1.25rem; /* controls how far list is indented */
}

ul, li {
    margin: 0;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
}

.company_ttl {
    font-size: 16px;
    text-decoration: underline;
    /* color: green; */
}

@media print {
    .skills {
    grid-template-columns: 1fr 1fr;
    }
}