html {
    max-width: 100%;
    width: 98%;
    margin: auto;
    padding: .2rem;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    color: #111;
    max-width: 100%;
}

section {
    margin-bottom: .2rem;
    border-bottom: 1.5px solid #0f0101;
}

h3 {
    margin: 0;
    margin-top: 0;
}

.hdr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.subsect_ttl {
    font-size: 16px;
    text-decoration: underline;
}

.horiz_ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content:space-evenly;
    list-style:square;
}


.namepn {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.pronouns {
    margin-top: 0;
    font-style: italic;
}

.section-title {
    font-size: 20px;
    margin-bottom: 0;
    margin: 0;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-left: 1rem;
    padding: .3rem;
}

.skillgroup {
    margin: 0;
    width: 100%;
}

.skillgroup_ttl {
    text-decoration: underline;
    margin-bottom: 0;
}

.role {
    margin-left: 1.5rem;
}

.highlights {
    margin-top: 0.25rem;   /* reduces vertical gap */
    margin-bottom: 0.5rem;
    padding-left: 1.25rem; /* controls how far list is indented */
}

ul, li {
    margin: 0;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
}

.osp {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.671);
}

.coll_info {
    margin-left: 5px;
}

.cw_ul {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

@media print {
    .skills {
        grid-template-columns: 1fr 1fr;
    }

    @page {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    html {
        /* margin: 0; */
        width: 100%;
    }
}