html {
    padding: .2rem;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    color: #111;
}

/* main > section {
    border: 5px solid green;
}

ul {
    border: 2px solid blue;
} */
h3 {
    margin: 0;
    margin-top: 0;
    /* border: 2px solid magenta; */
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
}

hr.line {
    border: none;
    height: 2px;
    background-color: #3333338d;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: .4rem;
}

section {
    margin-bottom: .2rem;
}

.section-title {
    font-size: 24px;
    margin-bottom: 0;
    margin: 0;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-left: 1rem;
    padding: .3rem;
}

.skillgroup {
    /* border: 2px solid pink; */
    margin: 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* border: 2px solid black; */
    width: 100%;
}

.skillgroup_ttl {
    text-decoration: underline;
    margin-bottom: 0;
}

.role {
    margin-left: 1.5rem;
}

.highlights {
    margin-top: 0.25rem;   /* reduces vertical gap */
    margin-bottom: 0.5rem;
    padding-left: 1.25rem; /* controls how far list is indented */
}

ul, li {
    margin: 0;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
}

.company_ttl {
    font-size: 20px;
    text-decoration: underline;
    /* color: green; */
}

@media print {
    .skills {
    grid-template-columns: 1fr 1fr;
    }
}