<section class="experience">

  {{ range .Site.Data.profile.experience.experience }}
    <div class="company">
     <div class="company_ttl">
        <strong>{{ .company }}</strong>, {{ .location }} | {{ .dates_total }}
      </div>
      {{ range .roles }}
        <div class="role">
          <strong>{{ .role }}</strong> |
          <span class="dates">{{ .start }}–{{ .end }}</span>
          <ul class="highlights">
            {{ range .highlights }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  {{ end }}
</section>
<hr class="line">
